<%= form_for(:search, :method => :post, :url => search_path) do |f| %>
    <div>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :category, "Category" %>
      <%= f.collection_select :category, Ticket.all, :category, :category, :include_blank => true %>
    </div>
    <div>
      <%= f.label :start_time, "Start from" %>
      <%= f.datetime_select :start_time %>
    </div>
    <div>
      <%= f.label :end_time, "To" %>
      <%= f.datetime_select :end_time %>
    </div>
    <div>
      <%= f.label :place, "Place" %>
      <%= f.collection_select :place, Ticket.all, :place, :place, :include_blank => true %>
    </div>
    <div>
      <%= f.submit "Search" %>
    </div>
<% end %>

<br>
<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Date</th>
    <th>Time</th>
    <th>Place</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.name %></td>
    <td><%= ticket.category %></td>
    <td><%= ticket.date %></td>
    <td><%= ticket.time %></td>
    <td><%= ticket.place %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
